{% extends "gesvoip/base.html" %}

{% block menu %}
  <nav>
    <ul id="menu">
      <li><a href="#">Sesion</a>
        <ul id="open">
          <li><a href="#">Inicio</a></li>
          <li><a href="{% url 'logout' %}?next=/">Cerrar sesion</a></li>
        </ul>
      </li>
      <li><a href="#">Usuarios</a>
        <ul>
          {% if user.is_staff %}
          <li><a href="#">Nuevo</a></li>
          <li><a href="#">Modificar</a></li>
          {% endif %}
          <li><a href="#">Listar</a></li>
        </ul>
      </li>
      <li><a href="#">Compañias</a>
        <ul>
          {% if user.is_staff %}
          <li><a href="#">Nuevo</a></li>
          <li><a href="#">Modificar</a></li>
          {% endif %}
          <li><a href="#">Listar</a></li>
        </ul>
      </li>
      <li><a href="#">Tarifas</a>
        <ul>
          <li><a href="#">Nuevo</a></li>
          <li><a href="#">Modificar</a></li>
          <li><a href="#">Listar</a></li>
        </ul>
      </li>
      <li><a href="#">Feriados</a>
        <ul>
          <li><a href="#">Nuevo</a></li>
          <li><a href="#">Eliminar</a></li>
        </ul>
      </li>
      {% if user.is_staff %}
      <li><a href="#">Numeración</a>
        <ul>
          <li><a href="#">Cargar</a>
          <li><a href="#">Procesar</a>
          <li><a href="#">Modificar</a>
          <li><a href="#">Buscar</a>
        </ul>
      </li>
      {% endif %}
      <li><a href="#">CDR</a>
        <ul>
          <li><a href="#">Cargar</a></li>
          <li><a href="#">Procesar</a></li>
          <li><a href="#">Consultar</a></li>
          {% if user.is_staff %}
          <li><a href="#">Eliminar</a></li>
          {% endif %}
        </ul>
      </li>
      <li><a href="#">Facturas</a>
        <ul>
          <li><a href="#">Generar</a></li>
          <li><a href="#">Consultar Factura</a></li>
          <li><a href="#">Eliminar Factura</a></li>
          <li><a href="#">Consultar Detalle Factura</a></li>
        </ul>
      </li>
      <li><a href="#">Portados</a>
        <ul>
          <li><a href="#">Cargar y procesar</a></li>
        </ul>
      </li>
    </ul>
  </nav>
{% endblock menu %}
