{% extends "gesvoip/base_intranet.html" %}

{% block title %}Modificar Numeración - GesVoIP{% endblock title %}
{% block title2 %}<h1>Modificar Numeración</h1>{% endblock title2 %}

{% block content %}
  <div id="principal">
    <div id="datos">
      <form id="modificaNumeracion" name="modificaNumeracion" class="formulario" method="post">
        <label>Seleccione Numeración</label>
        <select name="compania" id="compania" required>
          <option selected></option>
          {% for object in object_list %}
          <option value="{{ object.id_compania }}">{{ object.nombre }}</option>
          {% endfor %}
        </select>
        <input type="submit" name="busqueda" id="busqueda" value="Buscar" />
      </form>
    </div>
  </div>
{% endblock content %}
