{% extends "gesvoip/base_intranet.html" %}

{% block title %}Listado Tarifas - GesVoIP{% endblock title %}
{% block title2 %}<h1>Listado Tarifas</h1>{% endblock title2 %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Id ingreso</th>
        <th></th>
      </tr>
    </thead>
    <thead>
      {% for obj in object_list %}
      <tr>
        <td>{{ obj.fecha_inicio|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ obj.fecha_fin|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ obj.id_ingreso }}</td>
        <td><a href="{% url 'gesvoip:modifica_tarifa' obj.id_ingreso %}" class="button">Editar</a></td>
      </tr>
      {% endfor %}
    </thead>
  </table>
{% endblock content %}
