{% extends "gesvoip/base_intranet.html" %}

{% block title %}Modificar Tarifa - GesVoIP{% endblock title %}
{% block title2 %}<h1>Modificar Tarifa</h1>{% endblock title2 %}

{% block content %}
  <form id="modificaTarifaPre" name="modificaTarifaPre" class="formulario" method="post">
    <label>Seleccionar Compañia</label>
    <select name="compania" id="compania" autofocus required>
      <option selected></option>
      {% for object in object_list %}
      <option value="{{ object.id_compania }}">{{ object.nombre }}</option>
      {% endfor %}
    </select>

    <label>Seleccionar Mes</label>
    <select name="mes" id="mes">
      <option selected></option>
      <option value="01">Enero</option>
      <option value="02">Febrero</option>
      <option value="03">Marzo</option>
      <option value="04">Abril</option>
      <option value="05">Mayo</option>
      <option value="06">Junio</option>
      <option value="07">Julio</option>
      <option value="08">Agosto</option>
      <option value="09">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>
    <label>Seleccionar Año</label>
    <select name="anio" id="year">
      <option selected></option>
    </select>
    <input type="submit" name="busqueda" value="Buscar" />
  </form>
{% endblock content %}
