{% extends "gesvoip/base_intranet.html" %}

{% block title %}Modificar Tarifa - GesVoIP{% endblock title %}
{% block title2 %}<h1>Modificar Tarifa</h1>{% endblock title2 %}

{% block content %}
  <form name="ingresaTarifa" id="ingresaTarifa" class="formulario" method="post">
    <label>Seleccionar Compañia</label>
      <select name="dato" id="dato" required>
        <option selected></option>
        {% for object in object_list %}
        <option value="{{ object.id_compania }}">{{ object.nombre }}</option>
        {% endfor %}
      </select>
      <input type="submit" name="busqueda" value="Buscar" />
  </form>
{% endblock content %}
