{% extends "gesvoip/base_intranet.html" %}

{% block title %}Consultar CDR - GesVoIP{% endblock title %}
{% block title2 %}<h1>Consultar CDR</h1>{% endblock title2 %}

{% block content %}
  <form id="consultaCdr" name="consultaCdr" class="formulario" method="post">
    <label>Seleccione Compañia</label>
    <select name="compa" id="compa" required>
      <option value="" selected></option>
      <option value="CTC">CTC</option>
      <option value="ENTEL">Entel</option>
    </select>

    <label>Seleccione Mes</label>
    <select name="mes" id="mes" required>
      <option value="" selected></option>
      <option value="01">Enero</option>
      <option value="02">Febrero</option>
      <option value="03">Marzo</option>
      <option value="04">Abril</option>
      <option value="05">Mayo</option>
      <option value="06">Junio</option>
      <option value="07">Julio</option>
      <option value="08">Agosto</option>
      <option value="09">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>

    <label>Seleccione Año</label>
    <select name="year" id="year">
      <option value="" selected required></option>
    </select>

    <h3>Filtros adicionales (opcionales)</h3>

    <label>Compañia Origen</label>
    <select name="compania" id="compania">
      <option value="" selected></option>
      {% for object in object_list %}
      <option value="{{ object.compania }}">{{ object.nombre }}</option>
      {% endfor %}
    </select>

    <label>Estado</label>
    <select name="estado" id="estado">
      <option value="" selected></option>
      <option value="activado">Activado</option>
      <option value="desactivado">Desactivado</option>
      <option value="facturado">Facturado</option>
    </select>

    <label>Numero Origen</label>
    <input type="tel" id="norigen" name="norigen" />

    <label>Numero Destino</label>
    <input type="tel" id="ndestino" name="ndestino" />

    <label>Fecha llamada</label>
    <input type="text" id="fechaIngreso" name="fechaIngreso" />

    <p><progress id="progress_oculto"></progress></p>

    <input type="submit" name="buscar" id="buscar" Value="Buscar" onClick="document.getElementById('progress_oculto').style.visibility='visible';"/>
  </form>
{% endblock content %}
