{% extends "gesvoip/base_intranet.html" %}

{% block title %}Detalle CDR - GesVoIP{% endblock title %}
{% block title2 %}<h1>Detalle CDR</h1>{% endblock title2 %}

{% block content %}
  <div>
    <table border="0" class="tabla">
      <thead>
        <tr>
          <th>N origen</th>
          <th>N destino</th>
          <th>Fecha llamada</th>
          <th>Duracion</th>
          <th>Compania origen</th>
          <th>Estado</th>
          <th>Motivo</th>
          <th>Compania CDR</th>
          <th>Fecha CDR</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td>{{ object.ani_number }}</td>
          <td>{{ object.dialed_number }}</td>
          <td>{{ object.connect_time }}</td>
          <td>{{ object.ingress_duration }}</td>
          <td>{{ object.compania_ani }}</td>
          <td>{{ object.estado }}</td>
          <td>{{ object.motivo }}</td>
          <td>{{ object.compania_cdr }}</td>
          <td>{{ object.fecha }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div align="center"><font face="verdana" size="-2"><a class="p" href="{% url 'gesvoip:consulta_cdr' %}">Volver</a></font></div>
    <hr noshade style="color:CC6666;height:1px">
    <form id="consultaCdr4" name="consultaCdr4" action="consulta_cdr_detalle.php" method="POST">
      <table border="0" class="tabla">
        <caption><h3>Filtro</h3></caption>
        <thead>
          <tr>
            <th>N origen</th>
            <th>N destino</th>
            <th>Fecha llamada</th>
            <th>Compania origen</th>
            <th>Estado</th>
            <th>Compania CDR</th>
            <th>Mes CDR</th>
            <th>Año CDR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" name="ani_number" size="5" maxlength="150" value="{{ ani_number }}">
            </td>
            <td>
              <input type="text" name="dialed_number" size="5" maxlength="150" value="{{ dialed_number }}">
            </td>
            <td>
              <input type="text" name="fechaIngreso" id="fechaIngreso" size="5" maxlength="150" value="{{ connect_time }}">
            </td>
            <td>
              <select name="compania_ani" id="compania_ani">
                <option value="{{ compania_ani }}" selected>{{ compania_ani }}</option>
                {% for object in object_list2 %}
                <option>{{ object }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <select name="estado" id="estado">
                <option value="{{ estado }}" selected>{{ estado }}</option>
                <option value="activado">activado</option>
                <option value="desactivado">desactivado</option>
                <option value="facturado">facturado</option>
              </select>
            </td>
            <td>
              <select name="compania_cdr" id="compania_cdr">
                <option value="{{ compania_cdr }}" selected>{{ compania_cdr }}</option>
                <option value="CTC">CTC</option>
                <option value="ENTEL">Entel</option>
              </select>
            </td>
            <td>
              <select name="mes" id="mes">
                <option value="{{ mes }}" selected>{{ mes }}</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </td>
            <td>
              <select name="anio" id="anio">
                <option value="{{ anio }}" selected>{{ anio }}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="8">
              <input type="submit" value="Buscar" name="busqueda" id="busqueda" onClick="document.getElementById('loading_oculto').style.visibility='visible';" />
            <td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
{% endblock content %}
