{% extends "gesvoip/base.html" %}

{% block title %}Cpanel{% endblock title %}
{% block title2 %}<h1>Bienvenido {{ user.get_full_name }}</h1>{% endblock title2 %}

{% block content %}
  <form id="cpanel" name="cpanel" class="formulario">
    <label>Seleccion de Controles GesVoIP</label>
    <select name="select2" onChange="MM_jumpMenu('parent',this,0)">
      <option selected>Seleccionar Opción</option>
      <option value="{% url 'gesvoip:cpanel_gesvoip' %}">Acceso Administracion de Cargos de Acceso</option>
      <option value="#">Acceso a Administracion de STI</option>
    </select>
    <input type="submit" name="cerrar" value="Cerrar sesion" />
  </form>
{% endblock content %}
