{% extends "gesvoip/base_intranet.html" %}

{% block title %}Eliminar Feriado - GesVoIP{% endblock title %}
{% block title2 %}<h1>Eliminar Feriado</h1>{% endblock title2 %}

{% block content %}
  <form id="modificaFeriadoPost" name="modificaFeriadoPost" class="formulario" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="buscar2" id="buscar2" value="Eliminar" onclick="return confirm('¿Esta seguro que desea eliminar el feriado?')">
  </form>
{% endblock content %}
