{% extends "gesvoip/base_intranet.html" %}

{% block title %}Generar Factura - GesVoIP{% endblock title %}
{% block title2 %}<h1>Generar Factura</h1>{% endblock title2 %}

{% block content %}
  <form id="generaFactura" name="generaFactura" class="formulario" method="post">
    {% csrf_token %}
    {{ form }}
    <p align="center"><progress id="progress_oculto"></progress></p>
    <input type="submit" name="generar" id="generar" value="Generar" onClick="document.getElementById('progress_oculto').style.visibility='visible';" />
  </form>
{% endblock content %}
