{% extends 'base.html' %}

{% load pagination_tags %}

{% block title %}Llamadas{% endblock title %}

{% block content %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Llamadas de {{ invoice.company }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              {% if object_list %}
              <div class="table-responsive">
                <div class="row">
                  <div class="col-lg-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Inicio</th>
                          <th>Fin</th>
                          <th>Duración</th>
                          <th>Origen</th>
                          <th>Destino</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for obj in object_list %}
                        <tr>
                          <td>{{ obj.connect_time|date:"d/m/Y H:i:s" }}</td>
                          <td>{{ obj.disconnect_time|date:"d/m/Y H:i:s" }}</td>
                          <td>{{ obj.ingress_duration }}</td>
                          <td>{{ obj.ani_number }}</td>
                          <td>{{ obj.dialed_number }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    {% paginate %}
                  </div>
                </div>
              </div>

              {% else %}
              <p>No existen registros.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
