{% extends 'base.html' %}

{% load humanize %}

{% block title %}Resumen{% endblock title %}

{% block content %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Factura {{ object.get_date }} {{ object.company }}</h1>
    </div>
  </div>
  {% for period in object.get_periods %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Desde {{ period.get_start }} hasta {{ period.get_end }}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <div class="row">
                  <div class="col-lg-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Llamadas</th>
                          <th>Segundos</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for rate in period.get_rates %}
                        <tr>
                          <th>{{ rate.get__type_display }}</th>
                          <td>{{ rate.call_number|intcomma }}</td>
                          <td>{{ rate.call_duration|intcomma }}</td>
                          <td>{{ rate.get_total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Total</th>
                          <th></th>
                          <th></th>
                          <th>{{ period.get_total|intcomma }}</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Total</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <div class="row">
                  <div class="col-lg-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Llamadas</th>
                          <th>Segundos</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ object.call_number|intcomma }}</td>
                          <td>{{ object.call_duration|intcomma }}</td>
                          <td>{{ object.get_total|intcomma }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
