{% extends "gesvoip/base_intranet.html" %}

{% block title %}Listado Tarifas - GesVoIP{% endblock title %}
{% block title2 %}<h1>Listado Tarifas</h1>{% endblock title2 %}

{% block content %}
  <div id="datos">
    {% for object in object_list %}
    <h3>DESDE {{ object.fecha_inicio|date:"SHORT_DATE_FORMAT" }} HASTA {{ object.fecha_fin|date:"SHORT_DATE_FORMAT" }}</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display dataTable">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Compañia</th>
          <th>Día</th>
          <th>Normal</th>
          <th>Reducido</th>
          <th>Nocturno</th>
        </tr>
      </thead>
      <tbody>
        {% for tarifa in object.tarifas %}
        <tr>
          <td>{{ tarifa.fecha }}</td>
          <td>{{ tarifa.compania }}</td>
          <td>{{ tarifa.tipo }}</td>
          <td>{{ tarifa.valor_normal }}</td>
          <td>{{ tarifa.valor_reducido }}</td>
          <td>{{ tarifa.valor_nocturno }}</td>
        </tr>
        {% endfor %}
      </tdody>
    </table>
    {% endfor %}
    <form name="seleccionaTarifaPost" id="seleccionaTarifaPost" method="post">
      <input type="hidden" name="id_compania" id="id_compania" value="{{ id_compania }}" />
      <input type="hidden" name="fecha" id="fecha" value="{{ fecha }}" />
      <p><input name="imprimir" type="submit" id="imprimir" value="Imprimir"></p>
    </form>
  </div>
{% endblock content %}
