{% extends "gesvoip/base_intranet.html" %}

{% block title %}Listado Tarifas - GesVoIP{% endblock title %}
{% block title2 %}<h1>Listado Tarifas</h1>{% endblock title2 %}

{% block content %}
  <h3>DESDE {{ fecha_inicio }} HASTA {{ fecha_fin }}</h3>
  <table cellpadding="0" cellspacing="0" border="0" class="display dataTable">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Compañia</th>
        <th>Día</th>
        <th>Normal</th>
        <th>Reducido</th>
        <th>Nocturno</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{ object.fecha }}</td>
        <td>{{ object.compania }}</td>
        <td>{{ object.tipo }}</td>
        <td>{{ object.valor_normal }}</td>
        <td>{{ object.valor_reducido }}</td>
        <td>{{ object.valor_nocturno }}</td>
      </tr>
      {% endfor %}
    </tdody>
  </table>
  <form name="seleccionaTarifaPost" id="seleccionaTarifaPost" method="post">
    <input type="hidden" name="id_compania" id="id_compania" value="{{ id_compania }}" />
    <input type="hidden" name="fecha" id="fecha" value="{{ fecha }}" />
    <p><input name="imprimir" type="submit" id="imprimir" value="Imprimir"></p>
  </form>
{% endblock content %}
