{% extends "gesvoip/base_intranet.html" %}

{% block title %}Modificar Tarifa - GesVoIP{% endblock title %}
{% block title2 %}<h1>Modificar Tarifa</h1>{% endblock title2 %}

{% block content %}
  <form id="modificaTarifaPost" name="modificaTarifaPost" class="formulario" method="post">
    <input type="hidden" name="id" id="id" value="{{ object.id_ingreso }}" />

    <label for="fechaInicio">Fecha inicio:</label>
    <input type="text" value="{{ inicio }}" disabled />
    <input type="hidden" name="fecha_inicio" id="fecha_inicio" value="{{ inicio }}" />

    <label for="fechaFin">Fecha fin:</label>
    <input type="text" value="{{ fin }}" disabled />
    <input type="hidden" name="fecha_fin" id="fecha_fin" value="{{ fin }}" />

    <label for="normal">Valor horario normal ($ x seg):</label>
    <input type="number" name="normal" id="normal" min="0.0001" step="0.0001" placeholder="0,0001" value="{{ object.valor_normal }}" required />

    <label for="reducido">Valor horario reducido ($ x seg):</label>
    <input type="number" name="reducido" id="reducido" min="0.0001" step="0.0001" placeholder="0,0001" value="{{ object.valor_reducido }}" required />

    <label for="reducido">Valor horario nocturno ($ x seg):</label>
    <input type="number" name="nocturno" id="nocturno" min="0.0001" step="0.0001" placeholder="0,0001" value="{{ object.valor_nocturno }}" required />

    <input type="submit" name="modificar" class="submit" value="Modificar" />
    <input type="submit" name="eliminar" value="Eliminar" />
  </form>
{% endblock content %}
