<div id="company_edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="company_edit_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" method="post" action="/users/create">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="company_edit_label" class="modal-title">Editar</h4>
        </div>
        <div class="modal-body">
          <div class="form-group"></div>
            <label for="email">Correo electronico</label>
            <input class="form-control" type="email" name="email" required="required" autofocus="autofocus">
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-primary" type="submit">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
